.profile-picture {
    width: 100%;
    max-width: 150px; /* Sesuaikan ukuran maksimum yang diinginkan */
    height: auto;
    object-fit: cover;
    border-radius: 10px; /* Sesuaikan jika ingin gambar berbentuk persegi dengan sudut melengkung */
}
